<div ng-controller="uSyncPeopleController as vm">
    <usync-expansion-licence product="'people'" version="'8.0.0'"></usync-expansion-licence>
    <umb-box>
        <umb-box-header title="uSync.PeopleEdition"
                        description="Import/Export Members and Users">
        </umb-box-header>
        <umb-box-content>
            <em>
                <localize key="usync_peopleintro">
                    inorder for synced passwords to work across umbraco instances, each umbraco install
                    should have the same machineKey value in their web.config.
                </localize>
            </em>
        </umb-box-content>
    </umb-box>


    <div class="flex" ng-if="vm.licenced">
        <umb-box class="flx-g1">
            <umb-box-header title="Members" description="user accounts for logging on to the front end of your website"></umb-box-header>
            <umb-box-content>
                <umb-button action="vm.reportHandlers(vm.memberTypes)"
                            type="button"
                            button-style="action"
                            label-key="usync_reportmembers"
                            disabled="vm.working"></umb-button>

                <umb-button-group default-button="vm.importMemberButton.defaultButton"
                                  sub-buttons="vm.importMemberButton.subButtons"
                                  direction="down"
                                  float="right"
                                  button-style="success"
                                  state="vm.impotMemberButton.state">
                </umb-button-group>

                <umb-button action="vm.exportHandlers(vm.memberTypes)"
                            type="button"
                            button-style="neutral"
                            label-key="usync_exportmembers"
                            disabled="vm.working"></umb-button>
            </umb-box-content>
        </umb-box>
        <umb-box class="flx-g1 ml2">
            <umb-box-header title="Users" description="Backoffice users and user groups"></umb-box-header>
            <umb-box-content>
                <umb-button action="vm.reportHandlers(vm.userTypes)"
                            type="button"
                            button-style="action"
                            label-key="usync_reportusers"
                            disabled="vm.working"></umb-button>

                <umb-button-group default-button="vm.importUserButton.defaultButton"
                                  sub-buttons="vm.importUserButton.subButtons"
                                  direction="down"
                                  float="right"
                                  button-style="success"
                                  state="vm.impotMemberButton.state">
                </umb-button-group>

                <umb-button action="vm.exportHandlers(vm.userTypes)"
                            type="button"
                            button-style="neutral"
                            label-key="usync_exportusers"
                            disabled="vm.working"></umb-button>
            </umb-box-content>
        </umb-box>
    </div>

    <umb-box>
        <umb-box-content ng-if="vm.working || vm.reported">
            <usync-progress-view update="vm.update"
                                 status="vm.status"
                                 hide-labels="false" />
        </umb-box-content>
    </umb-box>

    <div ng-if="vm.reported">
        <usync-report-view actions="vm.actions" results="vm.results" />
    </div>

</div>