<?xml version="1.0" encoding="utf-8"?>
<umbracoforms>
  <!--
  NOTE: All Settings are cached and using SaveSetting in Configuration will clear cache
  If changing a setting in this file & you are not seeing the desired result straight away
  You will need to wait for the cache period (6hours) to expire or restart your site
  -->
  <settings>
    <!-- This can be 2 different things either True/False or a list of form names that ignore workflows, -->
    <!-- Comma Seperated: form name,contact form,etc -->
    <setting key="IgnoreWorkFlowsOnEdit" value="True" />

    <!-- This can be 2 different things either True/False or a list of form names that will execute workflows async,  -->
    <!-- commaseperated: form name,contact form,etc -->
    <!-- this setting is experimental and does not work with workflows that depends on the umbraco node factory or umbraco context-->
    <setting key="ExecuteWorkflowAsync" value="False" />

    <setting key="DisableFormCaching" value="False" />
    <setting key="DisableDefaultWorkflow" value="False" />
    <setting key="DisableAutomaticAdditionOfDataConsentField" value="False" />

    <!-- A comma delimited list file extensions that will always be prevented from use in file uploads irrespective of editor selections.-->
    <setting key="DisallowedFileUploadExtensions" value="config,exe,dll,asp,aspx,js" />

    <!-- Setting to true allows Form Submissions to be edited using ?recordId=GUID -->
    <!-- BEWARE! Enable this feature ONLY if you do understand the security implications. -->
    <setting key="AllowEditableFormSubmissions" value="False" />

    <!-- Setting to true will persist all forms, workflows, prevalues...etc in database-->
    <!-- BEWARE! Once setting this to true, reverting it is NOT an option -->
    <!-- Make sure to recycle the app pool for your site after changing this setting -->
    <setting key="StoreUmbracoFormsInDb" value="False" />

    <!-- Overrides the default numnber of columns allowed in a form group (default if not provided is 12) -->
    <setting key="MaxNumberOfColumnsInFormGroup" value="12" />

    <!--Defualt Form Settings -->
    <setting key="DefaultManualApproval" value="False" />
    <setting key="DefaultDisableStylesheet" value="False" />
    <setting key="DefaultMarkFieldsIndicator" value="NoIndicator" />
    <setting key="DefaultIndicator" value="*" />
    <setting key="DefaultRequiredErrorMessage" value="Please provide a value for {0}" />
    <setting key="DefaultInvalidErrorMessage" value="Please provide a valid value for {0}" />
    <setting key="DefaultShowValidationSummary" value="False" />
    <setting key="DefaultHideFieldValidationLabels" value="False" />
    <setting key="DefaultMessageOnSubmit" value="Thank you" />
    <setting key="DefaultStoreRecordsLocally" value="true" />

    <!-- Recaptcha V2 -->
    <setting key="RecaptchaPublicKey" value="" />
    <setting key="RecaptchaPrivateKey" value="" />

    <!-- Recaptcha V3 -->
    <setting key="RecaptchaV3SiteKey" value="" />
    <setting key="RecaptchaV3PrivateKey" value="" />

    <!--DatePicker (Pikaday JS component)-->
    <setting key="DatePickerYearRange" value="10" />

    <!-- AntiForgeryToken - See documentation here: https://our.umbraco.org/documentation/Add-ons/UmbracoForms/Developer/Configuration/ -->
    <setting key="EnableAntiForgeryToken" value="True" />
  </settings>
</umbracoforms>
