<div ng-controller="uSyncPublisherOptionsController as pvm">
    <div class="usync-publish-options">

        <div ng-if="pvm.server.SendSettings.Message.length > 0" class="usync-publish-server-message">
            {{pvm.server.SendSettings.Message}}
        </div>

        <div class="usync-advanced">

            <usync-send-option label="@usyncpublish_includeChildren"
                               description="@usyncpublish_includeChildrenDesc"
                               option="pvm.flags.includeChildren">
            </usync-send-option>

            <div class="usync-child-option">
                <usync-send-option label="@usyncpublish_deleteMissing"
                                   description="@usyncpublish_deleteMissingDesc"
                                   option="pvm.flags.deleteMissing"
                                   disabled="!pvm.flags.includeChildren.value"
                                   disabled-value="false">
                </usync-send-option>
            </div>

            <div class="usync-advanced-header" ng-click="pvm.showAdvanced = !pvm.showAdvanced"
                 ng-if="pvm.showtoggle">
                <i class="icon icon-navigation-down" ng-if="!pvm.showAdvanced"></i>
                <i class="icon icon-navigation-up" ng-if="pvm.showAdvanced"></i>
                <localize key="usyncpublish_advanced"></localize>

            </div>
            <div class="usync-advanced-options" ng-if="pvm.showAdvanced">

                <usync-send-option label="@usyncpublish_includeMedia"
                                   description="@usyncpublish_includeMediaDesc"
                                   option="pvm.flags.includeMedia">
                </usync-send-option>

                <usync-send-option label="@usyncpublish_includeDependencies"
                                   description="@usyncpublish_includeDependenciesDesc"
                                   option="pvm.flags.includeDependencies">
                </usync-send-option>

                <usync-send-option label="@usyncpublish_includeFiles"
                                   description="@usyncpublish_includeFilesDesc"
                                   option="pvm.flags.includeFiles">
                </usync-send-option>

                <usync-send-option label="@usyncpublish_includeConfig"
                                   description="@usyncpublish_includeConfigDesc"
                                   option="pvm.flags.includeConfig">

                </usync-send-option>

                <usync-send-option label="@usyncpublish_includeLinked"
                                   description="@usyncpublish_includeLinkedDesc"
                                   option="pvm.flags.includeLinked">
                </usync-send-option>

                <usync-send-option label="@usyncpublish_includeAncestors"
                                   description="@usyncpublish_includeAncestorsDesc"
                                   option="pvm.flags.includeAncestors">
                </usync-send-option>

                <!--
                <div class="alert alert-warning" ng-if="!pvm.isMedia && pvm.largeTree && pvm.flags.includeChildren.value && pvm.flags.includeMedia.value">
                    <localize key="usyncpublish_fulltreeWarning"></localize>
                </div> -->

                <div ng-if="pvm.action.actionOptions['canSchedule']"
                     class="usync-schedule-box">
                    <div class="usync-date-picker send-option-check">
                        <label>
                            <span class="send-option-name"><localize key="usyncpublish_schedule"></localize></span>
                            <span class="send-option-note"><localize key="usyncpublish_schedulePick"></localize></span>
                        </label>

                        <div class="btn-group flex" style="font-size: 15px;">

                            <umb-flatpickr ng-model="pvm.process.options.attributes['releaseDate']"
                                           options="pvm.datePickerConfig"
                                           on-setup="pvm.datePickerSetup(fpItem)"
                                           on-change="pvm.datePickerChange(dateStr)">
                                <div>
                                    <button ng-show="pvm.process.options.attributes['releaseDate']"
                                            class="btn umb-button--xs">
                                        {{pvm.releaseDateFormatted}}
                                    </button>

                                    <a ng-hide="pvm.process.options.attributes['releaseDate']" href="" class="btn umb-button--xs blank">
                                        <localize key="content_setDate">Set date</localize>
                                    </a>
                                </div>

                            </umb-flatpickr>

                            <a ng-show="pvm.process.options.attributes['releaseDate']" ng-click="pvm.clearPublishDate()" class="btn umb-button--xs dropdown-toggle umb-button-group__toggle" style="margin-left: -2px;">
                                <span class="icon icon-wrong"></span>
                            </a>
                            <div ng-show="!pvm.process.options.attributes['releaseDate']" class="date-space"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>