<div ng-controller="uSyncPublisherLanguageController as pvm">

    <umb-load-indicator ng-if="pvm.loading"></umb-load-indicator>

    <div ng-if="!pvm.loading" class="send-option-flat">

        <div ng-repeat="variant in pvm.variants"
             class="send-option-check">
            <umb-checkbox input-id="lang_{{variant.id}}"
                          name="lang_{{variant.id}}"
                          model="variant._checked"
                          class="send-option-checkbox"></umb-checkbox>
            <div>
                <label for="lang_{{variant.id}}">
                    <span class="send-option-name">{{variant.name}}</span>
                    <span class="send-option-note">{{variant.id}}</span>
                </label>
            </div>
        </div>


        <div ng-if="!vm.valid" class="alert alert-danger usync-no-change-alert">
            <div><i class="icon icon-alert-alt"></i></div>
            <div><localize key="usyncpublish_noLangAlert"></localize></div>
        </div>

        <div ng-if="pvm.itemtype == 'content' && vm.valid && pvm.all === false && pvm.mode === 'push'" class="alert alert-warning usync-no-change-alert">
            <div>
                <i class="icon icon-paper-plane-alt"></i>
            </div>
            <div >
                <localize key="usyncpublish_partialLangWarning"></localize>
            </div>

        </div>
    </div>
</div>
