<div ng-controller="uSyncPublisherReportController as pvm">

    <umb-box ng-if="!vm.isModal">
        <umb-box-header title="{{vm.headings.boxTitle}}"
                        description="{{vm.headings.boxDescription}}">
        </umb-box-header>
        <umb-box-content>
            <usync-report-summary results="pvm.results"
                                  stage="'report'"
                                  toggle="pvm.showDetails">
            </usync-report-summary>
        </umb-box-content>
    </umb-box>

    <div ng-if="vm.isModal">
        <usync-report-summary results="pvm.results"
                              stage="'report'"
                              toggle="pvm.showDetails">
        </usync-report-summary>
    </div>

    <div ng-if="pvm.showDetails" class="mt3">
        <usync-publish-result-view results="vm.report"
                                   total="vm.total"
                                   is-modal="vm.isModal" />
    </div>
</div>