<div>
    <umb-box ng-if="!vm.hideBox">
        <umb-box-header title="{{vm.titleString}}"
                        description="{{vm.descriptionString}}"></umb-box-header>
        <umb-box-content>

            <div class="usync-server-list">
                <div ng-repeat="server in vm.servers"
                     ng-click="vm.selectServer(server)"
                     class="usync-server-box"
                     ng-class="{'selected': server.selected, 'disabled': !server.status.Enabled} ">
                    <i class="icon {{server.Icon}}"></i>
                    <h5>{{server.Name}}</h5>
                    <div class="server-status" title="{{server.status.Message}}">
                        <div ng-if="server.status.Enabled"><i class="icon icon-check color-green"></i> <localize key="usyncpublish_availible">Availible</localize> </div>
                        <div ng-if="server.status.Enabled === undefined"
                             class="usync-wait-animate"></div>
                        <div ng-if="server.status.Enabled === false"><i class="icon icon-wrong color-red"></i><localize key="usyncpublish_unavailible">Unavailible</localize> </div>
                    </div>
                </div>
            </div>

            <div ng-if="vm.servers.length == 0" class="flex justify-center">
                <h5>No Servers configured</h5>
            </div>
        </umb-box-content>
    </umb-box>

    <div ng-if="vm.hideBox" class="usync-server-list-boxless">
        <div class="usync-server-list">
            <div ng-repeat="server in vm.servers"
                 ng-click="vm.selectServer(server)"
                 class="usync-server-box"
                 ng-class="{'selected': server.selected, 'disabled': !server.status.Enabled} ">
                <i class="icon {{server.Icon}}"></i>
                <h5>{{server.Name}}</h5>
                <div class="server-status">
                    <div ng-if="server.status.Enabled"><i class="icon icon-check color-green"></i> <localize key="usyncpublish_availible">Availible</localize> </div>
                    <div ng-if="server.status.Enabled === undefined"
                         class="usync-wait-animate"></div>
                    <div ng-if="server.status.Enabled === false"><i class="icon icon-wrong color-red"></i> <localize key="usyncpublish_unavailible">Unavailible</localize> </div>
                </div>
            </div>

            <div ng-if="vm.servers.length == 0" class="flex justify-center">
                <h5>No Servers configured</h5>
            </div>

        </div>
    </div>
</div>