<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="0038b76d-8748-4ac5-968c-00910abd6cf9" Alias="Form">
  <Info>
    <Name>Form</Name>
    <FieldIndicationType>NoIndicator</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>Please provide a value for {0}</RequireErrorMessage>
    <InvalidErrorMessage>Please provide a valid value for {0}</InvalidErrorMessage>
    <MessageOnSubmit IsHtml="false">Thank you</MessageOnSubmit>
    <GoToPageOnSubmit>00000000-0000-0000-0000-000000000000</GoToPageOnSubmit>
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass></CssClass>
    <DisabledDefaultStylesheet>false</DisabledDefaultStylesheet>
    <AutocompleteAttribute></AutocompleteAttribute>
    <Workflows />
    <FolderId />
    <Folder></Folder>
    <SubmitLabel>Submit</SubmitLabel>
    <NextLabel>Next</NextLabel>
    <PreVLabel>Previous</PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": null,
        "sortOrder": 0,
        "id": "421b55ee-cf21-4412-9bbc-47087aef2eb2",
        "page": "00000000-0000-0000-0000-000000000000",
        "containers": [
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "Consent for storing submitted data",
                "tooltip": null,
                "cssClass": null,
                "alias": "dataConsent",
                "id": "781cb126-7154-4dcb-9b76-39d1f2c94097",
                "fieldTypeId": "a72c9df9-3847-47cf-afb8-b86773fd12cd",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Consent is required to store and process the data in this form.",
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "AcceptCopy": "Yes, I give permission to store and process my data",
                  "ShowLabel": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      }
    ],
    "caption": null,
    "sortOrder": 0,
    "id": "bcc5c253-0049-434a-907e-35cd3f77c461",
    "form": "00000000-0000-0000-0000-000000000000",
    "buttonCondition": null
  }
]]]></Pages>
</forms-form>