<div ng-controller="uSyncPublisherServerSettingsController as vm">
    <form name="uSyncPublishServerForm">
        <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
        <umb-editor-view ng-if="!vm.loading">
            <umb-editor-header name="vm.server.Name"
                               description="vm.server.Description"
                               alias="vm.server.Alias"
                               icon="vm.server.Icon">
            </umb-editor-header>

            <umb-editor-container>
                <div class="form-horizontal">

                    <umb-box>
                        <umb-box-header title-key="usyncpublish_serverSetup"
                                        description-key="usyncpublish_serverSetupDesc">
                            <div class="flex">

                                <div class="server-status server-status-heading" ng-if="vm.checked">
                                    <div ng-if="vm.status.Enabled"><i class="icon icon-check color-green"></i> <localize key="usyncpublish_availible">Availible</localize> </div>
                                    <div ng-if="vm.status.Enabled === undefined"
                                         class="usync-wait-animate"></div>
                                    <div ng-if="vm.status.Enabled === false">
                                        <i class="icon icon-wrong color-red"></i>
                                        {{vm.errorDesc}}
                                    </div>
                                </div>


                                <umb-button ng-if="!vm.checked"
                                            type="link"
                                            button-style="link"
                                            label-key="usyncpublish_check"
                                            icon="icon-connection"
                                            state="vm.checkStatus"
                                            action="vm.checkServer(false)">
                                </umb-button>

                                <umb-button ng-if="vm.status.Status == 'Unauthorized'"
                                            action="vm.remoteSetup(vm.server)"
                                            label-key="usyncpublish_serverConnect"
                                            button-style="action"
                                            type="button"></umb-button>

                                <umb-button-group ng-if="vm.status.Enabled"
                                                  default-button="vm.syncbuttons.defaultButton"
                                                  sub-buttons="vm.syncbuttons.subButtons"
                                                  direction="down"
                                                  float="left"
                                                  button-style="default"
                                                  disabled="!vm.status.Enabled">
                                </umb-button-group>
                            </div>

                        </umb-box-header>
                        <umb-box-content>

                            <umb-control-group label="@usyncpublish_showPush"
                                               description="@usyncpublish_showPushDesc"
                                               ng-if="!vm.networkMode">

                                <umb-toggle on-click="vm.server.Enabled = !vm.server.Enabled"
                                            checked="vm.server.Enabled"></umb-toggle>
                            </umb-control-group>

                            <umb-control-group label="@usyncpublish_showPull"
                                               description="@usyncpublish_showPullDesc"
                                               ng-if="!vm.networkMode">

                                <umb-toggle on-click="vm.server.PullEnabled = !vm.server.PullEnabled"
                                            checked="vm.server.PullEnabled"></umb-toggle>
                            </umb-control-group>

                            <umb-control-group label="@usyncpublish_url"
                                               description="@usyncpublish_urlDesc">
                                <input type="text" class="umb-textstring umb-property-editor"
                                       ng-model="vm.server.Url" required />
                            </umb-control-group>

                            <umb-control-group label="@usyncpublish_serverMessage"
                                               description="@usyncpublish_serverMessageDesc">
                                <textarea id="message" ng-model="vm.server.SendSettings.Message"
                                          class="umb-textstring umb-property-editor"
                                          rows="3"></textarea>
                            </umb-control-group>

                            <umb-control-group label="@usyncpublish_allowedServers"
                                               description="@usyncpublish_allowedServersDesc"
                                               ng-if="vm.networkMode">
                                <umb-property-editor model="vm.allowedPicker" />
                            </umb-control-group>
                        </umb-box-content>

                    </umb-box>
                    <div ng-if="vm.server.PublisherConfig.length > 0">
                        <div ng-include="vm.server.PublisherConfig"></div>
                    </div>

                    <div ng-if="vm.server.PublisherConfig.length == 0">
                        <!-- legacy view - this is now per publisher, so we get better publisher options -->
                        <!---->
                        <h5>Publisher does not impliment config.</h5>
                    </div>

                    <umb-box>
                        <umb-box-header title="Extras"
                                        description="A little bit more control of who can do what"
                                        ng-click="vm.showAdvanced = !vm.showAdvanced">
                            <i class="icon icon-navigation-up" ng-if="vm.showAdvanced" title="expand"></i>
                            <i class="icon icon-navigation-down" ng-if="!vm.showAdvanced" title="collapse"></i>
                        </umb-box-header>
                        <umb-box-content ng-if="vm.showAdvanced">

                            <umb-control-group label="@usyncpublish_groups"
                                               description="@usyncpublish_groupsDesc">
                                <umb-property-editor model="vm.userGroupPicker" />
                            </umb-control-group>

                            <umb-control-group label="@usyncpublish_showSelf"
                                               description="@usyncpublish_showSelfDesc"
                                               ng-if="!vm.networkMode">

                                <umb-toggle on-click="vm.server.ShowSelf = !vm.server.ShowSelf"
                                            checked="vm.server.ShowSelf"></umb-toggle>
                            </umb-control-group>

                            <umb-control-group label="@usyncpublish_serverPublisher"
                                               description="@usyncpublish_serverPublisherDesc">
                                <div class="umb-property-editor">

                                    <div class=" flex items-center">
                                        <select ng-options="publisher.Alias as publisher.Name for publisher in vm.publishers"
                                                ng-model="vm.server.Publisher"></select>
                                        <div class="ml2">
                                            {{vm.publisherDescription}}
                                        </div>
                                    </div>

                                    <div class="mt2">
                                        <em>
                                            <small>
                                                <localize key="usyncpublish_serverPublisherNote"></localize>
                                            </small>
                                        </em>
                                    </div>
                                </div>
                            </umb-control-group>

                            <umb-control-group label="@usyncpublish_hideAdvanced"
                                               description="@usyncpublish_hideAdvancedDesc">
                                <umb-checkbox model="vm.server.HideAdvanced"></umb-checkbox>
                            </umb-control-group>

                        </umb-box-content>
                    </umb-box>
                </div>
            </umb-editor-container>

            <umb-editor-footer>

                <umb-editor-footer-content-left>
                </umb-editor-footer-content-left>

                <umb-editor-footer-content-right>
                    <div>

                        <umb-button type="button"
                                    button-style="link"
                                    label-key="general_close"
                                    action="vm.close()"
                                    ng-if="vm.showClose">
                        </umb-button>

                        <umb-button type="button"
                                    button-style="action"
                                    label-key="buttons_save"
                                    state="vm.buttonState"
                                    action="vm.save()">
                        </umb-button>
                    </div>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>