<div ng-controller="uSyncPublisherServerSortController as vm">
    <div class="umb-dialog-body with-footer sort-order">
        <div class="umb-pane">

            <div ng-if="vm.error">
                <div class="alert alert-error">
                    <div>{{vm.error.errorMsg}}</div>
                </div>
            </div>

            <umb-load-indicator ng-show="vm.loading"></umb-load-indicator>

            <div ng-if="!vm.loading">
                <p class="abstract">
                    <localize key="usyncpublish_sortHelp"></localize>
                </p>

                <table class="table table-condensed table-sortable">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <localize key="usyncpublish_server"></localize>
                            </th>
                            <th><localize key="usyncpublish_url"></localize></th>
                        </tr>
                    </thead>
                    <tbody ui-sortable="vm.sortableOptions" ng-model="vm.servers">
                        <tr ng-repeat="server in vm.servers">
                            <td class="tree-icon"><i class="{{server.Icon}}"></i></td>
                            <td>{{server.Name}}</td>
                            <td>{{server.Url}}</td>
                        </tr>
                    </tbody>
                </table>

                <umb-empty-state 
                    ng-if="vm.servers.length==0" 
                    position="center">
                    <localize key="usyncpublish_sortEmpty"></localize>
                </umb-empty-state>
            </div>

        </div>
    </div>
    
    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">

        <umb-button type="button"
                    button-style="link"
                    action="vm.close()"
                    label-key="general_close">
        </umb-button>

        <umb-button type="button"
                    action="vm.save()"
                    state="vm.saveButtonState"
                    button-style="success"
                    label-key="buttons_save">
        </umb-button>

    </div>
</div>