<?xml version="1.0" encoding="utf-8"?>
<DataSource Key="0ed99cb8-8a39-46d4-9fba-4dc23ac5c7dd" Alias="NewDataSource 2" Level="0">
  <Info>
    <Name>NewDataSource 2</Name>
    <FormDataSourceTypeId>f19506f3-efea-4b13-a308-89348f69df91</FormDataSourceTypeId>
  </Info>
  <Settings><![CDATA[{
  "Connection": "Provider=MSOLEDBSQL;Server=DESKTOP-2AFFJ8C\\SQLEXPRESS;Database=UmbCore;Trusted_Connection=yes;",
  "Table": "CmsTags"
}]]></Settings>
</DataSource>