<?xml version="1.0" encoding="utf-8"?>
<DataSource Key="85e634b6-1881-440c-9e92-f89495eebe1f" Alias="Macros" Level="0">
  <Info>
    <Name>Macros</Name>
    <FormDataSourceTypeId>f19506f3-efea-4b13-a308-89348f69df91</FormDataSourceTypeId>
  </Info>
  <Settings><![CDATA[{
  "Connection": "Provider=MSOLEDBSQL;Server=DESKTOP-2AFFJ8C\\SQLEXPRESS;Database=uSyncSource;Trusted_Connection=yes;",
  "Table": "CmsMacro"
}]]></Settings>
</DataSource>