<?xml version="1.0" encoding="utf-8"?>
<DataSource Key="efc7637d-f6e8-4807-94d7-0942581940e1" Alias="NewDataSource 2" Level="0">
  <Info>
    <Name>NewDataSource 2</Name>
    <FormDataSourceTypeId>f19506f3-efea-4b13-a308-89348f69df91</FormDataSourceTypeId>
  </Info>
  <Settings><![CDATA[{
  "Connection": "Provider=MSOLEDBSQL;Server=DESKTOP-2AFFJ8C\\SQLEXPRESS;Database=UmbCore;Trusted_Connection=yes;",
  "Table": "CmsTagds"
}]]></Settings>
</DataSource>