<?xml version="1.0" encoding="utf-8"?>
<DataSource Key="d99bdcc2-f2be-428c-828b-a113dd3fca02" Alias="Tags" Level="0">
  <Info>
    <Name>Tags</Name>
    <FormDataSourceTypeId>f19506f3-efea-4b13-a308-89348f69df91</FormDataSourceTypeId>
  </Info>
  <Settings><![CDATA[{
  "Connection": "Provider=MSOLEDBSQL;Server=DESKTOP-2AFFJ8C\\SQLEXPRESS;Database=UmbCore;Trusted_Connection=yes;",
  "Table": "cmsTags"
}]]></Settings>
</DataSource>