<?xml version="1.0" encoding="utf-8"?>
<uSyncPublisher incomingEnabled="true" outgoingEnabled="true">
  <!-- incomingEnabled - means this server can be pushed to -->
  <!-- outgoingEnabled - means this server can push content out -->
  <!-- optional - this is an internal name for the server - it is not required 
	                as uSyncPublisher will attempt to work this out from the URL.
      
                  Can also be overridden with appSettings key 
                  <add key="uSync:Server" value="[serverAlias]" />       
  -->
  <server>Local</server>
  <!-- default mode which lets you share the config between servers -->
  <networkMode>True</networkMode>
  <!-- authentication keys for this server:
  
    They must match what other servers send this server

    Can also be overridden with appSettings key 

          <add key="uSyncPublish:AppId" value="AppId" />       
          <add key="uSyncPublish:AppKey" value="AppKey" />
  
    Id/Key generation will be generated first time you
    look at the settings (and they are blank) 
  -->
  <!-- Restart the Application if you change these values here. -->
  <appId>7c5f27c3-0af8-41e0-8232-03f65dedc559</appId>
  <appKey>T33bvs/R0rInshZp8nNw1GRsVe+md5zv8qL75hGtvLc=</appKey>
  <!-- /// Send settings -->
  <!-- standard options for whats sent across to a server
        - values are yes, no, user-yes, user-no 
        - user- values are shown at send time
        - can be set per server too 
      -->
  <!-- include the parents of the node -->
  <includeAncestors>no</includeAncestors>
  <!-- include any template files required -->
  <includeFiles>no</includeFiles>
  <!-- include the children of this node -->
  <includeChildren>user-yes</includeChildren>
  <!-- include any media items required for the content -->
  <includeMedia>user-yes</includeMedia>
  <!-- include content linked to from this content -->
  <includeLinked>no</includeLinked>
  <!-- include things like required doctypes, datatypes -->
  <includeDependencies>no</includeDependencies>
  <!-- include media files as part of any sync -->
  <!-- this one is redundant at the moment, as media files are always checked 
       as part of a media sync -->
  <!-- so its not in the UI -->
  <includeMediaFiles>no</includeMediaFiles>
  <!-- delete items from the server not send in the sync (only for folders of items)-->
  <deleteMissing>user-yes</deleteMissing>
  <!-- include the config elements (public access, domain) when syncing content -->
  <includeConfig>yes</includeConfig>
  <!-- default publisher -->
  <publisher>realtime</publisher>
  <!-- /// End send settings -->
  <!-- the groups you need to be in to send (this is all, can be per server) -->
  <groups>admin,editor</groups>
  <!-- which uSync handler set to use (default is publisher) -->
  <handlerSet>publisher</handlerSet>
  <!-- extra folders to check when including files in a sync -->
  <additionalFolders>~/views,~/css,~/scripts</additionalFolders>
  <!-- hide the advanced settings behind a dropdown toggle -->
  <hideAdvanced>True</hideAdvanced>
  <!-- folders to copy when including system files-->
  <systemFolders>~/bin,~/app_plugins</systemFolders>
  <!-- regex pattern to exclude when copying system folders -->
  <!-- uSync will attempt to add your project dll names 
	      ie. bin\\myumbraco.site
			 but to be certain you should add any custom dll paths you don't want coping here.
	-->
  <systemExclusions>bin\\uSync,app_plugins\\uSync,bin\\App_Data,bin\\uSync\.FormsOnDisk</systemExclusions>
  <!-- default push and pull when you are not on a named sever (below)-->
  <allowedServers>
    <server pull="true" push="true">development</server>
  </allowedServers>
  <servers>
    <!-- example site -->
    <!--  you can leave appId and appKey blank, and the global ones
          will be used for all communications or you can have 
          a diffrent appId/Key for each server 
    -->
    <!--
    <server alias="Live"
            url="http://localhost:56789/umbraco"
            enabled="true">
        <appId>ec62e1f9-b5e2-4b65-ad78-6ff58d6faee0</appId>
        <appKey>Zaprs7hO0fjAOX+8LfS1UIoIDlwnSnKoNK/ItnpbFOc=</appKey>
    </server>
    -->
    <server alias="formsOnDisk" enabled="true" pullEnabled="true" sortOrder="0" url="https://localhost:44374/umbraco" showSelf="false">
      <name>Forms on Disk</name>
      <icon>icon-folders color-green</icon>
      <description></description>
      <hideAdvanced>False</hideAdvanced>
      <includeDependencies>yes</includeDependencies>
      <includeFiles>yes</includeFiles>
      <includeMedia>yes</includeMedia>
      <groups>admin,editor</groups>
      <PublisherSettings>
        <canSchedule>true</canSchedule>
        <selectVariants>true</selectVariants>
      </PublisherSettings>
      <allowedServers>
        <server pull="true" push="true">formsInDB</server>
      </allowedServers>
    </server>
    <server alias="formsInDB" enabled="true" pullEnabled="true" sortOrder="1" url="https://localhost:44357/umbraco" showSelf="false">
      <name>Forms in DB</name>
      <icon>icon-hard-drive color-green</icon>
      <description></description>
      <hideAdvanced>False</hideAdvanced>
      <includeDependencies>yes</includeDependencies>
      <includeFiles>yes</includeFiles>
      <includeMedia>yes</includeMedia>
      <groups>admin,editor</groups>
      <PublisherSettings>
        <canSchedule>true</canSchedule>
        <selectVariants>true</selectVariants>
      </PublisherSettings>
      <allowedServers>
        <server pull="true" push="true">formsOnDisk</server>
      </allowedServers>
    </server>
  </servers>
  <message></message>
</uSyncPublisher>