<?xml version="1.0" encoding="utf-8"?>
<uSync>
  <BackOffice>
    <Folder>~/uSync/v8/</Folder>
    <FlatFolders>True</FlatFolders>
    <ImportAtStartup>False</ImportAtStartup>
    <ExportAtStartup>False</ExportAtStartup>
    <ExportOnSave>True</ExportOnSave>
    <UseGuidFilenames>False</UseGuidFilenames>
    <BatchSave>False</BatchSave>
    
    <!-- calls a rebuild cache when an import completes
        (for Umbraco 8.3+ recommended value is false)  -->
    <RebuildCacheOnCompletion>False</RebuildCacheOnCompletion>
  
    <!-- handler sets -->
    <HandlerSets Default="default">

			<Handlers Name="default">
				<Handler Alias="formsHandler" Enabled="true" Actions="All" />
				<Handler Alias="formsPreValueHandler" Enabled="true" Actions="All" />
				<Handler Alias="formsDataSourceHandler" Enabled="true" Actions="All" />
				<Handler Alias="dataTypeHandler" Enabled="false" Actions="All" />
				<Handler Alias="languageHandler" Enabled="false" Actions="All" />
				<Handler Alias="macroHandler" Enabled="false" Actions="All" />
				<Handler Alias="mediaTypeHandler" Enabled="false" Actions="All" />
				<Handler Alias="memberTypeHandler" Enabled="false" Actions="All" />
				<Handler Alias="templateHandler" Enabled="false" Actions="All" />
				<Handler Alias="contentTypeHandler" Enabled="false" Actions="All" />
				<Handler Alias="contentHandler" Enabled="false" Actions="All" />
				<Handler Alias="contentTemplateHandler" Enabled="false" Actions="All" />
				<Handler Alias="dictionaryHandler" Enabled="false" Actions="All" />
				<Handler Alias="domainHandler" Enabled="false" Actions="All" />
				<Handler Alias="mediaHandler" Enabled="false" Actions="All" />
				<Handler Alias="relationTypeHandler" Enabled="false" Actions="All" />
			</Handlers>

		</HandlerSets>

		<!-- custom mappings to things that are already in umbraco -->
		<!-- if you content is stored exactly like it is in an existing 
		     propertyEditor, you can map to it here. -->
		<!-- 
		<Mappings>
			<Add Key="MyCustomUrlPicker" Value="Umbraco.MultiUrlPicker" />
		</Mappings>
		-->

		<!-- defaults settings that can be used across all handlers -->
		<!-- 
		<HandlerDefaults>
			<Add Key="NoRemove" Value="true" />
			<Add Key="CreateOnly" Value="true" />
		</HandlerDefaults>
		-->


	</BackOffice>
</uSync>