<div ng-if="vm.canToggle(vm.option) || vm.showDisabled" ng-class="{'usync-checkbox-disabled' : vm.disabled}">
    <div class="send-option-check">
        <umb-checkbox input-id="check_{{$id}}"
                      name="check_{{$id}}"
                      model="vm.option.value"
                      class="send-option-checkbox"
                      disabled="vm.disabled"></umb-checkbox>
        <div>
            <label for="check_{{$id}}">
                <span class="send-option-name">{{vm.labelString}}</span>
                <span class="send-option-note">{{vm.descriptionString}}</span>
            </label>
        </div>
    </div>
</div>