<div>
    <div ng-if="vm.loading">
        <umb-load-indicator></umb-load-indicator>
    </div>

    <div ng-if="!vm.loading">
        <umb-editor-sub-header>
            <umb-editor-sub-header-content-left>
                <ol class="usync-breadcrumb">
                    <li ng-repeat="item in vm.breadcrumb">
                        <a ng-click="vm.onBreadcrumbItem(item, $index)" class="btn btn-link">{{item.name}}</a>
                    </li>
                </ol>
            </umb-editor-sub-header-content-left>
            <umb-editor-sub-header-content-right>
                <umb-layout-selector layouts="vm.layouts"
                                     active-layout="vm.activeLayout"
                                     on-layout-select="vm.selectLayout(layout)">
                </umb-layout-selector>
            </umb-editor-sub-header-content-right>
        </umb-editor-sub-header>

        <div ng-if="vm.activeLayout.name != 'List'">
            <!-- grid view -->
            <div class="umb-folder-grid" ng-if="vm.items.folders.length > 0">
                <div class="umb-folder-grid__folder"
                     ng-repeat="folder in vm.items.folders"
                     ng-class="{'-selected': item.selected,'usync-row-change' : folder.syncChecked && folder.syncChange}"
                     ng-click="vm.onClickItem(folder, $event)">

                    <div class="umb-folder-grid__folder-description">
                        <i class="usync-folder-grid__folder-icon icon-navigation-right usync-browser-childnav" ng-if="folder.hasChildren"
                           ng-click="vm.onClickItemName(folder, $event)"></i>
                        <i class="umb-folder-grid__folder-icon {{folder.icon}}"></i>
                        <div ng-click="vm.onClickItemName(folder, $event)"
                             class="umb-folder-grid__folder-name">{{folder.name}}</div>
                    </div>

                </div>
            </div>

            <div class="umb-media-grid" ng-if="vm.items.nodes.length > 0">
                <div class="umb-media-grid__item umb-outline umb-outline--surrounding"
                     ng-repeat="item in vm.items.nodes"
                     ng-class="{'-selected': item.selected,'usync-row-change' : item.syncChecked && item.syncChange}"
                     ng-click="vm.onClickItem(item, $event)">

                    <!-- Check backgrund -->
                    <div class="umb-media-grid__image-background" ng-if="item.thumbnail || item.extension === 'svg'"></div>

                    <!-- Image thumbnail -->
                    <img class="umb-media-grid__item-image" width="{{item.width}}" height="{{item.height}}" ng-if="item.thumbnail" alt="{{item.name}}" draggable="false"
                         src="{{item.thumbnail}}" />

                    <!-- SVG -->
                    <img class="umb-media-grid__item-image" width="{{item.width}}" height="{{item.height}}" ng-if="!item.thumbnail && item.extension === 'svg'" ng-src="{{item.image}}" alt="{{item.name}}" draggable="false" />

                    <!-- Transparent image - fallback - used to keep image proportions on wrapper-->
                    <img class="umb-media-grid__item-image-placeholder" ng-if="!item.thumbnail && item.extension !== 'svg'" src="assets/img/transparent.png" alt="{{item.name}}" draggable="false" />

                    <!-- Icon for files -->
                    <umb-file-icon ng-if="!item.thumbnail && item.extension !== 'svg'"
                                   class="umb-media-grid__item-file-icon"
                                   extension="{{item.extension}}"
                                   icon="{{item.icon}}"
                                   size="s">
                    </umb-file-icon>

                    <div ng-if="!item.local">
                        <div ng-if="!item.syncChecked" class="usync-item-change">
                            <div class="usync-wait-animate"></div>
                        </div>
                        <div ng-if="item.syncChecked" class="usync-item-change">
                            <div ng-if="item.syncChange"
                                 ng-click="vm.openDetail(item.syncAction, $event)">
                                <i class="icon icon-zoom-in color-orange"></i>
                                {{vm.getChangeName(item.syncAction)}}
                            </div>
                            <div ng-if="!item.syncChange">
                                <i class="icon icon-check color-green"></i>
                                {{vm.getChangeName(item.syncAction)}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div ng-if="vm.activeLayout.name == 'List'">

            <div class="umb-table">
                <div class="umb-table-head">
                    <div class="umb-table-row">
                        <div class="umb-table-cell"></div>
                        <div class="umb-table-cell umb-table-cell--auto-width"><i class="icon icon-document"></i></div>
                        <div class="umb-table-cell umb-table__name">Name</div>
                        <div class="umb-table-cell">Type</div>
                        <div class="umb-table-cell">Updated</div>
                        <div class="umb-table-cell">{{vm.serverName}}</div>
                        <div class="umb-table-cell"></div>
                    </div>
                </div>

                <div class="umb-table-body" ng-if="vm.items.folders.length > 0">
                    <div class="umb-table-row" ng-repeat="folder in vm.items.folders"
                         ng-class="{'-selected': folder.selected, 'usync-row-change' : folder.syncChecked && folder.syncChange}"
                         ng-click="vm.onClickItem(folder, $event)">

                        <div class="umb-table-cell usync-browser-childnav">
                            <i class="usync-folder-grid__folder-icon icon-navigation-right" ng-if="folder.hasChildren"
                               ng-click="vm.onClickItemName(folder, $event)"></i>
                        </div>
                        <div class="umb-table-cell umb-table-cell--auto-width"><i class="icon {{folder.icon}}"></i></div>
                        <div class="umb-table-cell umb-table__name">{{folder.name}}</div>
                        <div class="umb-table-cell">{{folder.type}}</div>
                        <div class="umb-table-cell">{{folder.update | date: 'medium'}}</div>
                        <div class="umb-table-cell">

                            <div ng-if="!folder.local">
                                <div ng-if="folder.syncChecked">
                                    <i class="icon icon-check color-green" ng-if="!folder.syncChange"></i>
                                    <i class="icon icon-zoom-in color-orange" ng-if="folder.syncChange"></i>
                                    {{vm.getChangeName(folder.syncAction)}}
                                </div>
                                <div ng-if="!folder.syncChecked" class="usync-wait-animate">
                                </div>
                            </div>
                        </div>
                        <div class="umb-table-cell">
                            <div ng-if="folder.syncChecked && folder.syncChange">
                                <umb-button action="vm.openDetail(folder.syncAction, $event)"
                                            label="Details"
                                            size="xs"
                                            button-style="info"
                                            type="button">
                                </umb-button>

                                <umb-button ng-if="folder.remoteUrl.length > 0"
                                            action="vm.openSideBySide(folder, $event)"
                                            button-style="link"
                                            size="xs"
                                            label="Side By Side"
                                            type="button">
                                </umb-button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="umb-table-body" ng-if="vm.items.nodes.length > 0">
                    <div class="umb-table-row" ng-repeat="folder in vm.items.nodes"
                         ng-class="{'-selected': folder.selected, 'usync-row-change' : folder.syncChecked && folder.syncChange}"
                         ng-click="vm.onClickItem(folder, $event)">

                        <div class="umb-table-cell">
                            <i class="usync-folder-grid__folder-icon icon-navigation-right" ng-if="folder.hasChildren"
                               ng-click="vm.onClickItemName(folder, $event)"></i>
                        </div>
                        <div class="umb-table-cell umb-table-cell--auto-width"><i class="icon {{folder.icon}}"></i></div>
                        <div class="umb-table-cell umb-table__name">{{folder.name}}</div>
                        <div class="umb-table-cell">{{folder.type}}</div>
                        <div class="umb-table-cell">{{folder.update | date: 'medium'}}</div>
                        <div class="umb-table-cell">
                            <div ng-if="!folder.local">
                                <div ng-if="folder.syncChecked">
                                    <i class="icon icon-check color-green" ng-if="!folder.syncChange"></i>
                                    <i class="icon icon-zoom-in color-orange" ng-if="folder.syncChange"></i>
                                    {{vm.getChangeName(folder.syncAction)}}
                                </div>
                                <div ng-if="!folder.syncChecked" class="usync-wait-animate">
                                </div>
                            </div>
                        </div>
                        <div class="umb-table-cell">
                            <div ng-if="folder.syncChecked && folder.syncChange">
                                <umb-button action="vm.openDetail(folder.syncAction, $event)"
                                            label="Details"
                                            size="xs"
                                            button-style="info"
                                            type="button">
                                </umb-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>