<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7cfc7c2-db09-45c4-a427-054900a25bf6" Alias="Countries" Level="1">
  <Info>
    <Name>Countries</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "UK"
    },
    {
      "id": 2,
      "value": "Scotland"
    },
    {
      "id": 3,
      "value": "Wales"
    },
    {
      "id": 4,
      "value": "Ireland"
    },
    {
      "id": 5,
      "value": "France"
    },
    {
      "id": 6,
      "value": "German"
    }
  ]
}]]></Config>
</DataType>