<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="662c6047-f5fc-45d9-bf00-2caa5b96502d" Alias="fff">
  <Info>
    <Name>fff</Name>
    <FieldPreValueSourceTypeId>ea773caf-fef2-491b-b5b7-6a3552b1a0e2</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "DataTypeId": "-39"
}</Settings>
</PreValue>