<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="eb9bac04-6568-46c1-af3f-0d8799494a81" Alias="Local List">
  <Info>
    <Name>Local List</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "1104",
  "DocType": "contentPage",
  "ListGrandChildren": "True"
}</Settings>
</PreValue>