<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="305eac08-1534-425d-820b-dab89eed5c7f" Alias="Pages">
  <Info>
    <Name>Pages</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "1104",
  "DocType": "contentPage",
  "ListGrandChildren": "True"
}</Settings>
</PreValue>