<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="fef6016e-7798-4268-9ba4-715551cede14" Alias="Created in DB form.">
  <Info>
    <Name>Created in DB form.</Name>
    <FieldIndicationType>MarkMandatoryFields</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>Please provide a value for {0}</RequireErrorMessage>
    <InvalidErrorMessage>Please provide a valid value for {0}</InvalidErrorMessage>
    <MessageOnSubmit>Thank you</MessageOnSubmit>
    <GoToPageOnSubmit>00000000-0000-0000-0000-000000000000</GoToPageOnSubmit>
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass></CssClass>
    <DisabledDefaultStylesheet>false</DisabledDefaultStylesheet>
    <UseClientDependency>false</UseClientDependency>
    <Workflows>
      <Workflow>
        <Id>bf45dfb2-c8ba-4170-8bf2-0733e67e5b19</Id>
        <Name>Send template email to kevin@thejumps.co.uk</Name>
        <Active>true</Active>
        <IncludeSensitiveData>False</IncludeSensitiveData>
        <WorkflowTypeId>17c61629-d984-4e86-b43b-a8407b3efea9</WorkflowTypeId>
        <ExecutesOn>Submitted</ExecutesOn>
        <SortOrder>1</SortOrder>
        <Settings><![CDATA[{
  "RazorViewFilePath": "Forms/Emails/Example-Template.cshtml",
  "Attachment": "",
  "Email": "",
  "CcEmail": "",
  "BccEmail": "",
  "SenderEmail": "",
  "ReplyToEmail": "",
  "Subject": "The Form '{form_name}' was submitted"
}]]></Settings>
      </Workflow>
    </Workflows>
    <DataSource />
    <SubmitLabel>Submit</SubmitLabel>
    <NextLabel>Next</NextLabel>
    <PreVLabel>Previous</PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": null,
        "sortOrder": 0,
        "id": "41727342-819c-4195-9adb-5c403361caea",
        "page": "00000000-0000-0000-0000-000000000000",
        "containers": [
          {
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "Consent for storing submitted data",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "dataConsent",
                "id": "dccd100b-a55d-4fd0-b6db-1879a2d72e74",
                "fieldTypeId": "a72c9df9-3847-47cf-afb8-b86773fd12cd",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Consent is required to store and process the data in this form.",
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "AcceptCopy": "Yes, I give permission to store and process my data"
                },
                "preValues": null,
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      },
      {
        "caption": "",
        "sortOrder": 0,
        "id": "89a94eae-c71c-4540-d63a-2216b0656860",
        "page": "00000000-0000-0000-0000-000000000000",
        "containers": [
          {
            "caption": "",
            "width": 12,
            "fields": [
              {
                "caption": "Text",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "text",
                "id": "6fc4607a-5031-46c9-ff0e-ffe811350575",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "00000000-0000-0000-0000-000000000000",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {},
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      }
    ],
    "caption": null,
    "sortOrder": 0,
    "id": "00000000-0000-0000-0000-000000000000",
    "form": "00000000-0000-0000-0000-000000000000"
  }
]]]></Pages>
</forms-form>