<div ng-controller="uSyncCacheController as vm"
     class="usync-publisher-dashboard">

    <umb-box>
        <umb-box-header title="Cache control"
                        description="uSync cache control, helps speed up publishing">

            <umb-button type="button"
                        action="vm.toggleCaches()"
                        label="Disable caching"
                        button-style="danger"
                        state="vm.cacheButtonState"
                        ng-if="vm.enabled">
            </umb-button>
            <umb-button type="button"
                        action="vm.toggleCaches()"
                        label="Enable caching"
                        button-style="primary"
                        state="vm.cacheButtonState"
                        ng-if="!vm.enabled">
            </umb-button>
        </umb-box-header>

        <umb-box-content>

            <h4>uSync cache</h4>
            <p>
                uSync will cache information needed to publish or pull items between servers.
                This is either stored in memory or on disk (dependening on the cache type) and
                reduces the amount of time spent calculating dependencies significantly.
            </p>

            <umb-button type="button"
                        action="vm.rebuild()"
                        button-style="warning"
                        label="Rebuild caches"
                        state="vm.rebuildState">
            </umb-button>

        </umb-box-content>
    </umb-box>

    <umb-box>
        <umb-box-content>
            <div class="flex">
                <div>
                    <strong>Cached items :</strong>  {{vm.status.count}}
                </div>
            </div>
        </umb-box-content>
    </umb-box>
</div>