<div ng-controller="uSyncPublisherSettingsDefaultController as vm">

    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
    <div ng-if="!vm.loading" class="usync-publisher-dashboard">
        <usync-expansion-licence product="'Publisher'" version="'8.0.0'"></usync-expansion-licence>
        <umb-box>
            <umb-box-content class="usync-publisher-dashboard-heading">
                <div class="flex justify-between">
                    <div>
                        <h4 ng-if="vm.settings.ServerName">
                            <localize key="usyncpublish_currentServer"></localize> : <strong>{{vm.settings.ServerName}}</strong>
                        </h4>
                        <small>
                            <span id="serverUrl">{{vm.settings.ServerUrl}}</span>
                            <button ng-click="vm.copyText()" class="btn btn-link btn-small"
                                    prevent-default
                                    localize="title"
                                    title="@usyncpublish_copyToClipboard">
                                <i class="icon icon-documents"></i>
                            </button>
                        </small>
                    </div>
                    <div>
                        <h5 class="text-right"><localize key="usyncpublish_directions"></localize></h5>
                        <div class="flex">
                            <div class="flex items-center">
                                <div class="server-toggle"><localize key="usyncpublish_incoming"></localize></div>
                                <umb-toggle checked="vm.settings.IncomingEnabled"
                                            on-click="vm.toggleValue('IncomingEnabled')"></umb-toggle>
                            </div>

                            <div class="flex items-center">
                                <div class="server-toggle"><localize key="usyncpublish_outgoing"></localize></div>
                                <umb-toggle checked="vm.settings.OutgoingEnabled"
                                            on-click="vm.toggleValue('OutgoingEnabled')"></umb-toggle>
                            </div>
                        </div>
                    </div>
                </div>
            </umb-box-content>
        </umb-box>


        <div class="flex flex-wrap">
            <div ng-repeat="server in vm.servers"
                 class="usync-server-box usync-server-box-wide umb-box usync-settings-box"
                 ng-class="{'selected' : server.Alias == vm.settings.ServerAlias }">

                <i class="icon {{server.Icon}}"></i>

                <h5>{{server.Name}}</h5>
                <small>{{server.Url}}</small>
                <small class="muted"><em>{{server.Publisher}}</em></small>

                <div class="server-status">
                    <div ng-if="server.status.Enabled"><i class="icon icon-check color-green"></i> <localize key="usyncpublish_availible">Availible</localize> </div>
                    <div ng-if="server.status.Enabled === undefined"
                         class="usync-wait-animate"></div>
                    <div ng-if="server.status.Enabled === false"><i class="icon icon-wrong color-red"></i> <localize key="usyncpublish_unavailible">Unavailible</localize> </div>
                </div>

                <small ng-if="server.Alias == vm.settings.ServerAlias">(Current Server)</small>
                <div class="usync-server-actions">
                    <div>
                        <umb-button type="button"
                                    button-style="primary"
                                    action="vm.gotoSettings(server)"
                                    label-key="usyncpublish_settings"
                                    icon="icon-settings"
                                    stats="vm.buttonState"
                                    disabled="vm.working"></umb-button>
                    </div>
                </div>
            </div>

            <div class="usync-server-box usync-server-box-wide umb-box usync-settings-box usync-server-new-box"
                 ng-click="vm.addNew()">

                <i class="icon icon-server"></i>

                <h5>
                    <localize key="usyncpublish_addNew"></localize>
                </h5>

                <div class="server-status">
                    <div>
                        <i class="icon icon-plugin"></i>
                        <localize key="usyncpublish_addNew"></localize>
                    </div>
                </div>

                <div class="usync-server-actions">


                    <umb-button type="button"
                                button-style="link"
                                label-key="usyncpublish_addNew"
                                icon="icon-add"
                                stats="vm.buttonState"
                                disabled="vm.working"></umb-button>
                </div>
            </div>
        </div>
    </div>

</div>