<?xml version="1.0" encoding="utf-8"?>
<Content Key="867a8839-8712-484a-b6b3-b6cb70e191db" Alias="Child two" Level="2">
  <Info>
    <Parent Key="d25782c5-08dd-493c-a5c3-afb906e74b68">Home</Parent>
    <Path>/Home/ChildTwo</Path>
    <Trashed>false</Trashed>
    <ContentType>simpleDocumentType</ContentType>
    <CreateDate>2024-04-22T09:45:52</CreateDate>
    <NodeName Default="Child two" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Child two]]></Value>
    </pageTitle>
  </Properties>
</Content>