<?xml version="1.0" encoding="utf-8"?>
<Content Key="55d50a1b-610d-4d19-a3d6-713e1083fb5b" Alias="Child Three" Level="2">
  <Info>
    <Parent Key="d25782c5-08dd-493c-a5c3-afb906e74b68">Home</Parent>
    <Path>/Home/ChildThree</Path>
    <Trashed>false</Trashed>
    <ContentType>simpleDocumentType</ContentType>
    <CreateDate>2024-04-22T09:46:05</CreateDate>
    <NodeName Default="Child Three" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Child Three]]></Value>
    </pageTitle>
  </Properties>
</Content>