<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9cb6f8c-3f6e-42ae-8a8e-5fb8350c8f2e" Alias="Child One" Level="2">
  <Info>
    <Parent Key="d25782c5-08dd-493c-a5c3-afb906e74b68">Home</Parent>
    <Path>/Home/ChildOne</Path>
    <Trashed>false</Trashed>
    <ContentType>simpleDocumentType</ContentType>
    <CreateDate>2024-04-22T09:45:43</CreateDate>
    <NodeName Default="Child One" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Child One]]></Value>
    </pageTitle>
  </Properties>
</Content>