<?xml version="1.0" encoding="utf-8"?>
<Content Key="d25782c5-08dd-493c-a5c3-afb906e74b68" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>simpleDocumentType</ContentType>
    <CreateDate>2024-04-22T09:45:20</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
  </Properties>
</Content>