<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c0de121a-8818-4724-a046-ef3c773a89c2" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="7267890e-5bab-4b40-ab9b-03bf60520437">contentBase</Composition>
      <Composition Key="4afc7ac7-83d0-4ede-ab0c-3b6d904a6046">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8b21e20f-c7df-4f96-99c9-64555def8978">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c0de121a-8818-4724-a046-ef3c773a89c2" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>