<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="03d52d37-fb37-4dda-884a-6b4d4e63f566" Alias="A New Simple form">
  <Info>
    <Name>A New Simple form</Name>
    <FieldIndicationType>MarkMandatoryFields</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>Please provide a value for {0}</RequireErrorMessage>
    <InvalidErrorMessage>Please provide a valid value for {0}</InvalidErrorMessage>
    <MessageOnSubmit>Thank you</MessageOnSubmit>
    <GoToPageOnSubmit>00000000-0000-0000-0000-000000000000</GoToPageOnSubmit>
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass></CssClass>
    <DisabledDefaultStylesheet>false</DisabledDefaultStylesheet>
    <UseClientDependency>false</UseClientDependency>
    <Workflows>
      <Workflow>
        <Id>69bccfc1-4000-4d2f-af90-9d67799e5966</Id>
        <Name>Send template email to kevin@thejumps.co.uk</Name>
        <Active>true</Active>
        <IncludeSensitiveData>False</IncludeSensitiveData>
        <WorkflowTypeId>17c61629-d984-4e86-b43b-a8407b3efea9</WorkflowTypeId>
        <ExecutesOn>Submitted</ExecutesOn>
        <SortOrder>1</SortOrder>
        <Settings><![CDATA[{
  "RazorViewFilePath": "Forms/Emails/Example-Template.cshtml",
  "Attachment": "",
  "Email": "kevin@thejumps.co.uk",
  "CcEmail": null,
  "BccEmail": null,
  "SenderEmail": "",
  "ReplyToEmail": "",
  "Subject": "The Form '{form_name}' was submitted"
}]]></Settings>
      </Workflow>
    </Workflows>
    <DataSource />
    <SubmitLabel>Submit</SubmitLabel>
    <NextLabel>Next</NextLabel>
    <PreVLabel>Previous</PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": null,
        "sortOrder": 0,
        "id": "c822ee4a-f0f0-4fbc-9e2d-e99f6d6126a8",
        "page": "00000000-0000-0000-0000-000000000000",
        "containers": [
          {
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "Consent for storing submitted data",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "dataConsent",
                "id": "d914ebc4-3e6d-48dc-955d-c20c388b0fd9",
                "fieldTypeId": "a72c9df9-3847-47cf-afb8-b86773fd12cd",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Consent is required to store and process the data in this form.",
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "AcceptCopy": "Yes, I give permission to store and process my data"
                },
                "preValues": null,
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Textbox",
                "tooltip": "Some help text",
                "placeholder": null,
                "cssClass": null,
                "alias": "textbox",
                "id": "6fa3cdec-0d12-480e-ce43-2b49dc78930d",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "00000000-0000-0000-0000-000000000000",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Currency",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "currency",
                "id": "94cba542-3063-4ae4-ab63-c904f3bca28f",
                "fieldTypeId": "0dd29d42-a6a5-11de-a2f2-222256d89593",
                "prevalueSourceId": "Currency",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "00000000-0000-0000-0000-000000000000",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "AllowMultipleSelections": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Extra question",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "extraQuestion",
                "id": "89046bca-ec1e-4ea5-a6ee-fb0bb69876fc",
                "fieldTypeId": "f8b4c3b8-af28-11de-9dd8-ef5956d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "00000000-0000-0000-0000-000000000000",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "Placeholder": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      }
    ],
    "caption": "First page of the form.",
    "sortOrder": 0,
    "id": "00000000-0000-0000-0000-000000000000",
    "form": "00000000-0000-0000-0000-000000000000"
  }
]]]></Pages>
</forms-form>