<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="1fb6249d-dd50-4c4e-9250-a550e6736c35" Alias="form from NewDataSource 2">
  <Info>
    <Name>form from NewDataSource 2</Name>
    <FieldIndicationType>MarkMandatoryFields</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>Please provide a value for {0}</RequireErrorMessage>
    <InvalidErrorMessage>Please provide a valid value for {0}</InvalidErrorMessage>
    <MessageOnSubmit>Thank you</MessageOnSubmit>
    <GoToPageOnSubmit>00000000-0000-0000-0000-000000000000</GoToPageOnSubmit>
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass></CssClass>
    <DisabledDefaultStylesheet>false</DisabledDefaultStylesheet>
    <UseClientDependency>false</UseClientDependency>
    <Workflows />
    <DataSource>
      <Source>570b48cd-7bb4-4bb7-9a6e-aa6234c75b2e</Source>
      <Mappings>
        <Mapping>
          <DataFieldKey>group</DataFieldKey>
          <PrevalueKeyfield></PrevalueKeyfield>
          <PrevalueValueField></PrevalueValueField>
          <PrevalueTable></PrevalueTable>
          <DataType>String</DataType>
          <DefaultValue></DefaultValue>
        </Mapping>
        <Mapping>
          <DataFieldKey>tag</DataFieldKey>
          <PrevalueKeyfield></PrevalueKeyfield>
          <PrevalueValueField></PrevalueValueField>
          <PrevalueTable></PrevalueTable>
          <DataType>String</DataType>
          <DefaultValue></DefaultValue>
        </Mapping>
      </Mappings>
    </DataSource>
    <Folder></Folder>
    <SubmitLabel>Submit</SubmitLabel>
    <NextLabel></NextLabel>
    <PreVLabel></PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": "Fieldset",
        "sortOrder": 0,
        "id": "00000000-0000-0000-0000-000000000000",
        "page": "00000000-0000-0000-0000-000000000000",
        "containers": [
          {
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "group",
                "tooltip": "group",
                "placeholder": null,
                "cssClass": null,
                "alias": "group",
                "id": "92902403-0df4-4574-8847-c50219de9c0b",
                "fieldTypeId": "d5c0c390-ae9a-11de-a69e-666455d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": "group",
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": "",
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": null,
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "tag",
                "tooltip": "tag",
                "placeholder": null,
                "cssClass": null,
                "alias": "tag",
                "id": "fad325e2-4bbf-4351-b734-28612412d3ca",
                "fieldTypeId": "d5c0c390-ae9a-11de-a69e-666455d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": "tag",
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": "",
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": null,
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      }
    ],
    "caption": "Page",
    "sortOrder": 0,
    "id": "00000000-0000-0000-0000-000000000000",
    "form": "00000000-0000-0000-0000-000000000000"
  }
]]]></Pages>
</forms-form>