<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="9ac0057a-b278-4454-a7dc-02d2bcb61aa2" Alias="Sample Form">
  <Info>
    <Name>Sample Form</Name>
    <FieldIndicationType>MarkMandatoryFields</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>Please provide a value for {0}</RequireErrorMessage>
    <InvalidErrorMessage>Please provide a valid value for {0}</InvalidErrorMessage>
    <MessageOnSubmit>0</MessageOnSubmit>
    <GoToPageOnSubmit>00000000-0000-0000-0000-000000000000</GoToPageOnSubmit>
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass></CssClass>
    <DisabledDefaultStylesheet>false</DisabledDefaultStylesheet>
    <UseClientDependency>false</UseClientDependency>
    <Workflows>
      <Workflow>
        <Id>3f60a1f2-a84a-4ba3-a190-4894232a7004</Id>
        <Name>Send template email to kevin@thejumps.co.uk</Name>
        <Active>true</Active>
        <IncludeSensitiveData>False</IncludeSensitiveData>
        <WorkflowTypeId>17c61629-d984-4e86-b43b-a8407b3efea9</WorkflowTypeId>
        <ExecutesOn>Submitted</ExecutesOn>
        <SortOrder>1</SortOrder>
        <Settings><![CDATA[{
  "RazorViewFilePath": "Forms/Emails/Example-Template.cshtml",
  "Attachment": "",
  "Email": "kevin@thejumps.co.uk",
  "SenderEmail": "",
  "ReplyToEmail": "",
  "Subject": "The Form '{form_name}' was submitted"
}]]></Settings>
      </Workflow>
    </Workflows>
    <DataSource />
    <SubmitLabel>Submit</SubmitLabel>
    <NextLabel>Next</NextLabel>
    <PreVLabel>Previous</PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": null,
        "sortOrder": 0,
        "id": "c20be170-2c95-4928-be24-30d5055931ce",
        "page": "00000000-0000-0000-0000-000000000000",
        "containers": [
          {
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "Consent for storing submitted data",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "dataConsent",
                "id": "495949d2-bdd8-4c20-b2d5-b7cdbd2480e8",
                "fieldTypeId": "a72c9df9-3847-47cf-afb8-b86773fd12cd",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Consent is required to store and process the data in this form.",
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "AcceptCopy": "Yes, I give permission to store and process my data"
                },
                "preValues": null,
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Name",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "name",
                "id": "be5ff502-c36e-4029-abb9-dd77ab4c387f",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Enter your name",
                "invalidErrorMessage": null,
                "condition": {
                  "id": "00000000-0000-0000-0000-000000000000",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "Placeholder": "Your name here",
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": {
          "id": "00000000-0000-0000-0000-000000000000",
          "enabled": false,
          "actionType": "Show",
          "logicType": "All",
          "rules": []
        }
      },
      {
        "caption": "Data Source Stuff",
        "sortOrder": 0,
        "id": "e54e60ae-2bc4-4c36-d765-5f4cce7218bc",
        "page": "00000000-0000-0000-0000-000000000000",
        "containers": [
          {
            "caption": "",
            "width": 12,
            "fields": [
              {
                "caption": "PreValue List",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "preValueList",
                "id": "029daa22-c506-4149-cd1d-d04c54151665",
                "fieldTypeId": "0dd29d42-a6a5-11de-a2f2-222256d89593",
                "prevalueSourceId": "b127d605-70af-471b-8a2c-2d5c47c8a871",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "00000000-0000-0000-0000-000000000000",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      }
    ],
    "caption": null,
    "sortOrder": 0,
    "id": "00000000-0000-0000-0000-000000000000",
    "form": "00000000-0000-0000-0000-000000000000"
  }
]]]></Pages>
</forms-form>