<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="dd16faa2-5e71-4184-b8ea-baa13f6ef83d" Alias="Documents PreValue">
  <Info>
    <Name>Documents PreValue</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "ValueField": "Id",
  "RootNode": "__d25782c5-08dd-493c-a5c3-afb906e74b68__",
  "UseCurrentPage": "False",
  "DocType": "simpleDocumentType",
  "ListGrandChildren": "True",
  "OrderBy": "Alphabetical"
}</Settings>
</PreValue>