<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="5b1d17a4-3d4c-432e-8b44-3aaf001e5850" Alias="Number List">
  <Info>
    <Name>Number List</Name>
    <FieldPreValueSourceTypeId>35c2053e-cbf7-4793-b27c-6e97b7671a2d</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "TextFile": "PreValueTextFiles\\043e89af-4dd4-437f-9297-224d2b5ce1c8\\one.txt"
}</Settings>
  <TextFile>
    <FileContent>[{"id":"0","value":"one","caption":"","sortOrder":0},{"id":"1","value":"two","caption":"","sortOrder":1},{"id":"2","value":"three","caption":"","sortOrder":2},{"id":"3","value":"four","caption":"","sortOrder":3},{"id":"4","value":"five","caption":"","sortOrder":4}]</FileContent>
  </TextFile>
</PreValue>