<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="93b8dfeb-8123-4fcd-bd21-ca0948ca4ba1" Alias="test123">
  <Info>
    <Name>test</Name>
    <FieldPreValueSourceTypeId>35c2053e-cbf7-4793-b27c-6e97b7671a2d</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "TextFile": "PreValueTextFiles\\8a4f4f9b-f2c7-4ff9-92aa-7177f6c121b2\\test.txt"
}</Settings>
  <TextFile>
    <FileContent>[{"id":"0","value":"test","caption":"","sortOrder":0},{"id":"1","value":"tes2","caption":"","sortOrder":1},{"id":"2","value":"test3","caption":"","sortOrder":2}]</FileContent>
  </TextFile>
</PreValue>