<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="6bf273db-bed1-48d0-b886-2d3b1bfe0752" Alias="Text list">
  <Info>
    <Name>Text list</Name>
    <FieldPreValueSourceTypeId>35c2053e-cbf7-4793-b27c-6e97b7671a2d</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "TextFile": "PreValueTextFiles/5d5d3339-ead4-4a39-88e9-861d74cdd76a/list.txt"
}</Settings>
</PreValue>