<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="2dcf205c-28bd-4409-b4f0-6aadce808740" Alias="Test Form">
  <Info>
    <Name>Test Form</Name>
    <FieldIndicationType>NoIndicator</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>Please provide a value for {0}</RequireErrorMessage>
    <InvalidErrorMessage>Please provide a valid value for {0}</InvalidErrorMessage>
    <MessageOnSubmit>Thank you</MessageOnSubmit>
    <GoToPageOnSubmit>00000000-0000-0000-0000-000000000000</GoToPageOnSubmit>
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass></CssClass>
    <DisabledDefaultStylesheet>false</DisabledDefaultStylesheet>
    <AutocompleteAttribute></AutocompleteAttribute>
    <Workflows>
      <Workflow>
        <Id>13b8f2dd-a9ca-4994-83f1-c96b5f6d8804</Id>
        <Name>Send template email to kevin@thejumps.co.uk</Name>
        <Active>true</Active>
        <IncludeSensitiveData>False</IncludeSensitiveData>
        <WorkflowTypeId>17c61629-d984-4e86-b43b-a8407b3efea9</WorkflowTypeId>
        <ExecutesOn>Submitted</ExecutesOn>
        <SortOrder>1</SortOrder>
        <Settings><![CDATA[{
  "Email": "kevin@thejumps.co.uk",
  "CcEmail": "",
  "BccEmail": "",
  "SenderEmail": "",
  "ReplyToEmail": "",
  "Subject": "The Form '{form_name}' was submitted",
  "RazorViewFilePath": "Forms/Emails/Example-Template.cshtml",
  "HeaderHtml": "",
  "FooterHtml": "",
  "Attachment": ""
}]]></Settings>
      </Workflow>
    </Workflows>
    <DataSource />
    <Folder></Folder>
    <SubmitLabel>Submit</SubmitLabel>
    <NextLabel>Next</NextLabel>
    <PreVLabel>Previous</PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": null,
        "sortOrder": 0,
        "id": "6fb8f6ac-fafc-46f3-9b67-fc31b191db96",
        "page": "00000000-0000-0000-0000-000000000000",
        "containers": [
          {
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "Consent for storing submitted data",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "dataConsent",
                "id": "757218e2-7e14-4fd9-85a9-4e1912c5c7e0",
                "fieldTypeId": "a72c9df9-3847-47cf-afb8-b86773fd12cd",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Consent is required to store and process the data in this form.",
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "AcceptCopy": "Yes, I give permission to store and process my data",
                  "ShowLabel": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      }
    ],
    "caption": null,
    "sortOrder": 0,
    "id": "c18c62cd-7d70-4300-a600-0504e0c1c834",
    "form": "00000000-0000-0000-0000-000000000000",
    "buttonCondition": null
  }
]]]></Pages>
</forms-form>