<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="9f85718b-0671-4bd1-8b15-7f405cdc8a13" Alias="Pre-values">
  <Info>
    <Name>Pre-values</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"dynamicRoot\":{\"originAlias\":\"Root\"}}",
  "UseCurrentPage": "False",
  "ValueField": "",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": ""
}</Settings>
</PreValue>