<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="5aef5ae3-47eb-4491-82ac-1acc3d66b423" Alias="NewPreValue 4">
  <Info>
    <Name>NewPreValue 4</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "1104",
  "DocType": "contentPage",
  "ListGrandChildren": "True"
}</Settings>
</PreValue>