<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="761900a5-da5c-49bd-b5fa-736de222fdc9" Alias="Currency">
  <Info>
    <Name>Currency</Name>
    <FieldPreValueSourceTypeId>ea773caf-fef2-491b-b5b7-6a3552b1a0e2</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "DataTypeId": "1078"
}</Settings>
</PreValue>