<div ng-controller="uSyncExportOverlayController as vm">
    
    <div ng-if="!vm.exporting">
        <div ng-if="!vm.complete">
            <p>
                <localize key="usyncexport_packSummary"></localize>
            </p>

            <div class="mt2">
                <label for="packname"><strong>Pack Name:</strong></label>
                <input type="text" class="umb-textstring umb-property-editor" ng-model="vm.options.name"
                       name="packname" id="packname" />
            </div>

            <div class="mt3">
                <h5>Sync pack items</h5>
                <div ng-repeat="item in vm.selection" class="usync-node-box">
                    <i class="icon {{item.icon}}"></i> {{item.name}} 
                    <span ng-if="item.nodeType.length > 0">({{item.nodeType}})</span>
                </div>
            </div>
        </div>
        <div ng-if="vm.complete">
            <localize key="usyncexport_packComplete"></localize>
        </div>
    </div>

    <div class="usync-complete-model-progress" ng-if="vm.exporting || vm.complete">

        <div class="usync-dialog-progess-bar">
            <div class="usync-complete-progress-icons">
                <div ng-repeat="step in vm.progress.steps"
                     ng-class="{'complete' : step.status == 'Complete', 'in-progress': step.status == 'InProgress'}">
                    <i class="icon {{step.icon}}"></i>
                    <div>{{step.name}}</div>
                    <div ng-if="step.status == 'Complete'" class="usync-step-badge complete">
                        <i class="icon icon-check"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="progress" style="height: 7px;margin: 0 20px;">
            <div class="bar" role="progressbar"
                 style="width:{{vm.calcPercentage(vm.update)}}%"
                 aria-valuenow="{{vm.calcPercentage(vm.update)}}"
                 aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="usync-load-step flex justify-center" >
            <strong>{{vm.update.Message}}</strong>
        </div>
    </div>

</div>