button.usync-exporter-button {
    margin-right: 15px;
}

.exporter-seperator {
    width: 100% !important;
    height: 2px;
}

.usync-narrow-table .umb-table-body .umb-table-row {
    min-height: 20px;
}

.usync-exporter-upload {
    display: none;
}

.exporter-button-list {
    margin-bottom: 20px;
}

.exporter-button-list > div {
    width: 165px;
    margin: 5px 5px 0;
}

    .exporter-button-list > div > button {
        text-align: left;
        width: 100%;
        background-color: #1b264f38;
    }

        .exporter-button-list > div > button:hover {
            color: #ddd;
            background-color: #1b264f99;
        }

        .usync-exporter-upload-button {
        }

.usync-list {
    margin-bottom: 10px;
}

.usync-list-item {
    display: grid;
    grid-template-columns: 40px 200px auto 100px 100px 100px 100px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

    .usync-list-item > div {
        align-self: center;
    }

    .usync-list-toggle {
        display: flex;
        justify-content: center;
    }

    .usync-list-header {
        font-weight: 700;
    }

    .usync-export-toggles .control-label {
        width: 75%;
    }

    .usync-right-toggles {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 200px
        }

        .usync-right-toggles > * {
            margin: 5px 0 0;
        }



.usync-footer-center {
    position: absolute;
    bottom: 2px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #aaa;
    font-size: 80%;
    width: 50%;
}

.usync-box-help-icon {
    opacity: .8;
    font-size: 22px;
}